@import "src/constants/constants.scss";

.benefitsDashboard {
    .benefitsDashboardList {
        max-width: 800px;
        margin: 48px auto;
        @media only screen and (max-width: $medium-media-breakpoint) {
            margin: 12px;
            max-width: 100%;
        }
    }
}